/* app/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom animations */
@keyframes gradient-x {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 8s ease infinite;
}
